<a href="https://colab.research.google.com/github/sohaaan/restaurant_scrapping/blob/main/restaurant_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First import the necessary library

In [1]:
import pandas as pd #to manipulate dataframe
import requests #to get the data from the url
import json #to handle json data from the url
import time #to add some delay so that google API have some time to varify the page token

In order to find restaurants around a place we need the coordinate of the place and then we will find for results around a certain radius.

For example, I took radius 1000m while searching for restaurants around Mirpur-1. We need to be careful about the radius becasue with googgle API we can at best retrieve **60** results per request. So if the place is very popluated like Dhaka City radious should be small so that we don't miss any restaurant. In my case I took 1km radius as it showed 58 results so I guess I did not miss any restaurant

We can set different coordinates by a generous distance so that it cover all restaurants of the area and later in cleaning phase we will remove the duplicates

I only focus on Mirpur area. I took 4 spots which I will use to retrieve the data around

I will search retaruants in terms of keywords. It will get places which's type is restaruant, has restaurant in their name and recognized as place for eating

In [31]:
# Parameters
coordinates = ['23.799378,90.352992','23.817345,90.372628','23.784263,90.361646','23.801518,90.378728']
keyword = 'restaurant'
radius = '1000'
api_key = 'AIzaSyD1qkItnF9DfuqEyaA6NIyfB11W2G2udyI'
final_data = []
price_stars = ['*','**','***','****']

Then we will generate the url with all the necessary links and the send a get request for data

Data will be recived in a Json file than will be sotred in `final_data` list

In [25]:
for coordinate in coordinates:
  url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+coordinate+'&radius='+str(radius)+'&keyword='+str(keyword)+'&key='+str(api_key)
  while True:
    print(url)
    response = requests.get(url)
    js = json.loads(response.text)
    results = js['results']
    for result in results:
      name = result['name']
      lat = result['geometry']['location']['lat']
      lng = result['geometry']['location']['lng']

      if 'rating' in result: #some restaurants aren't yet rated. so we need a condition for them
        rating = result['rating']
      else:
        rating = 'NA'

      if 'user_ratings_total' in result: #for nor rated restaurants the number of people will be 0
        total_rating = result['user_ratings_total']
      else:
        total_rating = 0

      if 'price_level' in result: #similarly some restaurants have no price level. we will put NA in there
        price = result['price_level']
        prices = price_stars[int(price)-1]
      else:
        prices = 'NA'
        
      data = [name, lat, lng, rating, total_rating, prices]
      final_data.append(data)
    time.sleep(2)
    if 'next_page_token' not in js:
      break
    else:
      next_page_token = js['next_page_token']
      url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?key='+str(api_key)+'&pagetoken='+str(next_page_token)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=23.799378,90.352992&radius=1000&keyword=restaurant&key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uEDeMQYTDw69HodLFW-sGeM7SoGD4B4eScAy9TZ_VD4w34928pjkSvOZ4Ub_0nN5TQdqZzFcj-5IZRQEyZXFYchfJMiV4I8DgxE5hDkJPfQ-RZyuv4wqgLvnoQ4F16zi31T4PSkuIxxKd7KYMw7t3nS68J3KihZcaJkMgPbg8sHBLOEmZHsjI4OYDUAvIBzZuJaUnGSLOskJvEgnZVBETJf1wxCgdNOThhJOU11pcc49vJY9ZsfU1OYSUTjZlUnQsaXUbS5wlM8uDE7vt3BlYOyxIJZIX4ZARZr_5SOHr5laDm0o6YvMPlutnW35sGpMthqy_ZyiyfyjfrRdSW7UI7dZ8ondwfiOATojkyK8UB1tEanuVm9hp3PgTqKB5j4TqbawwxU19JxxP3i1h6ASa8mrBNfDElLLl0zmaEvtQjNMmR1Wa4a0TiF81hxx
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uEB65LAU5ndpd0YDZcBX5cYw2Y3dLDEZL9i4aHUXBv5f26TLU9Jx80UJn3igGfLPgly8endD95dguC-jp2NUqPyDc-w_jk39ECFNGI11MxRfeWbgHxGC2mgoeZBXZ2XBqEPbFS3UUmh7VbAMtx-qRO-N0_V3sDtgU7XAM5e3hKVn__-g4nnASDI7lehrVWbzwlV6Y0xXbGGIre15H-zENiJdjHKtwUHefhLzRy1JJK9E9Kq5UXEKfrGnGgmpo4vjFN6TeqlUnjc74VCoRMWJ1T1Sz3-PjHzdwkOFbGI8FnyRLbdu4byj3Q7TTWwqvjhQ4NcBWwORSTGYaZ2g5qGdZZRLMOsq1ettc5mNhlQENmYG2awtvxPn2Q6Q3TPjXup9jpNNF8dD3tNHnKACHRmZHGv0zt_lbrLkFYUqQ_LgFJKV78_vfINGbVw3u1nOOwrHintKqhpTEdYbf1xcmggI6e29qdFA57pj067msZD-An9gOHjH5_T0wyiEXQLAZCSTjSZ8-v3ozFIYKk-j68jo4bp8lRLj0IPHOY1DdgoYVmqVPYjsEom6WHkYNLNDmjtHvm77_Ds6c9i7AjGwSpKqyfa08rNAQdPoyJptOhfqkcuAqPfpGuX1o1XgsPImrqDkFBOfTsTqtRduqtWpaQ
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=23.817345,90.372628&radius=1000&keyword=restaurant&key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uEBbEgXUpUaiEkqHyzsx8EDdvv3KqklDYsTH_l_9LbkeeCbq5IeoQh31GBiwfEtCFVtK5zyk7-aN2qTi9tmpjld_BN5SBLhR14KHzKWbQL64wvLukFJ0kk8a_ObUnemBwMCSOQDCcNA8zadK7w9-J3uXP2_I9KCZDPaqqfjrYDCMGLANzWZeAggplwvid87wF6z-S2TDZn9RSZFBssVKwuG-3awlUhVKyazT1DaSw0PbKM69iGXwqvk2PruXwtjT-c_-B5QW8VstynOn8XairHS8lLoCE-BrultwM_uvum17yONUFHIc2yVoYk06X6Ok6k3XfR7AGntccGush2b814SQAeavoXiDAZF_kK-dYcUEAZfnkFyPdwcPZBYq6YRPn4BgGq5mUmS31yAWDxqChS0YhpbPF20rClxl8uMUvhcNxI_h_b_z1oanP8zB
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uECYq6FQz1Cq6zco2JK4vaEBW-0RGOkjIxTkCULTld2LV_bo7G33hl3rMZ7Vqo0oGGi9EwrrNeDVr5yu3Vf5DKUcq_1oUO4X7AuOQ8tRcRtYxIJcyMem84k8Gjn0SNA0TvZqlHtbIQ-ojrv6hIK4ZX0kGr4oZKF6hZas9Xcxx4-4Q_Utz4j4XBqFuGUz3QLcbkMLsllYsCRDpVJrKLQmg73Wg5wKYqjiEmm9EChT2C4AQfepeXVmRsvi-z2Q5aLnhif9849VAYOD-GHAkCQrDSe_fGhiBFM3k7gDFkIrRcGA_DHBI7Xs6IJZpcb6k6r9qvx1-WRgu6be3m2OdJt-GSOkRvDCSIOXaonEX8_oUQ2Iri7nSNIoFOCZmyi_Tu7AgcoYQpUVbw6bzA50FgRzijcGEc1_TBzBUj6gIRShp922xzNGfbkjd9InVS36cYQWZtg9CnoaPB5qju3fE_XHhpLpCTeCSMPMMRKCjoXTADSVF7PRPtccj_GMYGJZ7worurfPuLdys9lB4CGBwVA8eHqncrm0mLYpRcEwGEp_VqB2EMWSOWSVYJzMMvBaWtHr_brgwb3PWYtTORBhhta257RYxoWlDxyGmdG2HTkifGCU7BX1sh47416zbAyU6IGUlSQfezC_gUOca1nO_A
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=23.784263,90.361646&radius=1000&keyword=restaurant&key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uECLuStlliR7ic8eiErDyDqrp274usvFs56ht5inhPDQcH34E0AKo9JGNUwAQenQg9eUGmWMOYYEw76ZxTfNScFc0mE_e1HL1N581htkPhxoNq1uTg1ZylNnOZ3-eizVYlLHeLuwE-fTSlqduVMS14yZRgRx35re9qgxGd-cEIh_95qBpMydqvkcOBhm40cLRFDzqglXTTdtBQ2XcwXtJaVKDidHYWfFq1udbxWzTpS72uhH_JzCIZdauNsmc6h9k0UrWzBQh1fBvBohfqzZvUVCr2YJK12ULTnvHtte3G6pHmCcdyoEOLU1yCHUTKur5Vrt2_jc_igca1fiUhYesIo6VkBGRC1ebDp3vU4huDVYiYsQDPaG54ASQ8HIBCoSNrwFe-NgiMCKsRZ7B6LZ9HAhEtVNbStDotMJNsDP26rg42HVDB-NXwIMSiTW
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uECnXIzCWy_90ksjxQmAJtRCB_ZOXPOcTKY6LO1Vtl_s5T_7GBrwS7O3sp8kZBPQXFXsun1w6o_dTyjYVEy9EubXAkp1zoM43Y_zhursVyqH2OstXeJzgqWQ5cyGVySlVgea2qlAu2IYzI6LpDbuWQKSYrxgf8-C-AeWgxb5fQGnnvt2073aM2k4u06RgfpClcaDi3eoAO3UUeQvJx78EXbhdYfmxlu1jabuIA-IzqfAe9bEqokg4qzjmNV95hhgpRUvIcigrMrJlvjMqw7tQ3Q0ds5yMaVmkCIdqkQRCH3qNwPLNMxNmQdZvDb3-BkVI7K5k2cLNe5EJgO6KVbz5KWSScmn3tIG-k0qP4QkkHmXDz0Kix7U3tdy2iKT8S2YnJVDdMtMEhBqORFPd92cU-g1g-L_Hol_PHul4hwbNq47Yilt6ghIiFBLJmozsI1cpjHc3nxGs6xp3jIDNnxLyV8FdV2b6Y-E064v-ryp1Jdxc95_zGKANqjMnyb916wcQ2_8C6Xgw0dPrKDzWY3jQC2kzO3ImS3dS3RRFhk0KtkZuFo3UsFwoZAm9hWAyPA5rRwJSXGR918jH3bb4FJ3KtAgeE7pq9xbXBQA4bOZc_KPsYxi5Q-8h0TMIlnAlrF32i6YQKxEuJi3gB1ezg
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=23.801518,90.378728&radius=1000&keyword=restaurant&key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uEAnIVwXE99ftBG1XJZbNiYtXu7BK79yQPkRnMRY7NqqapHsJAScby3_OsbSCfnt1Fvw5cLRdIF6onWHbvwXJ63STSVAYNZIB5NBtpHdIhuNPos9fJcKfouJWyctJBI3kEFzR9bm86-6wbaO4HPha_qQLPpxqPputVxXx9c4EYU1GnLb6qCsUUGIDhuC5wiNklnutL4ePW9WevWL-RHNp6CvujFQZsXv8dqZ4PgASYoSGUrgjkXIGxItEh3l1GfU6HnDjQfSn1XOi6sY8hVr4VJpwgSzXe9xZaQx26GBfSqhm_XS4aQvWixLNJX0Q-rHFhnRZrxtl340aM5cgb5FZF1v-v9K5prbBSgQGd-BQKZ2UDnqd399v7vmzraIUvo27r4ceVaVLvCM5X55MQLOeLEbN5r7CynoHaYvGiQorcwVC6ky4mIj1HAf7FMG
https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyDdVkhcbHItUECbRbLxMSUB41AO-XtV6f4&pagetoken=Aap_uEBRKKjj06tKKnnXeGKu3M5Dxm_XBh5AjXTcGA_u_Yb9n3IxyCaxOCwOPP7gc-rkPvuYC_HIvAFOd8ZePasdCTB3gGpphCSwDLpQ6ivd17SF4YuTglfZj0KxVxUyhZ58P3TceaVHtal60eDIJwpKSj2NG29gQCxEt3v6HZzToR82s8otS2GYUP-wgasYBXoU7ju0U_PoomlOIP4Z1dkVLXkG7nTNtvt41KiYar7_IV9Ge66A1fdscxL7EgBw69kUxb8XNNmOd_12UCioCSYCVwTaDnJOsh9Q_NsEAy8p-ktuG9cUprg6FjBHp9bQcmdgw2dHDPWZmCKep3TyDlPoy25btLbLMwJImjEKatPQX9RQy3-eZ_YOWI-wN2KG6iSS0Vo7eFdsfR2nk75UgOtkoXGGIvtS9ytUxMfD_Qtv06WVwvH4O7cqVbQLglZyz14EQUR2CDgLpZI6p_5emDq_EjPCUftrxBmsvMyyQksG8bs97lZsO2EKbugbeirUHotm0-Y9qiPMPbNIIe-bOaFVQ7SmJ2t8W1ThkZL1S9X9F-6JAQmotoNqAPDk9zMdC8_UCITG2Rx9CgT-OmjIlkp_kN2s1DjOlI8EMJxUd0mCz5VsmzYfkkyj__WM0vAlbL8eYi6Q3gdjhXQgjOskNg

Now we will take all data from `final_data` to `df` dataframe

In [26]:
labels = ['Place Name', 'Latitude', 'Longitude','Rating', 'Number of People Rated', 'Price Level']
df= pd.DataFrame.from_records(final_data, columns=labels)

In [27]:
df

                             Place Name  ...  Price Level
0         GOVINDA'S SWEETS & RESTAURANT  ...           NA
1                  Melting Pot (Mirpur)  ...           NA
2               Royal Bengal Restaurant  ...           NA
3                Sub Station Restaurant  ...           NA
4                            PERI PASTA  ...           **
..                                  ...  ...          ...
226                 Bay Leaf Restaurant  ...           **
227                Mayer Doa Restaurant  ...           NA
228       Xinxian Restaurant- Mirpur 10  ...          ***
229  Juice World and Chinese Restaurant  ...           NA
230        Al-Baraka Hotel & Restaurant  ...           **

[231 rows x 6 columns]

Now, becasue of overlapping of areas there will be some restaurants which will appear twice. We will remove those by using pandas `drop_duplicates` function

In [28]:
df.drop_duplicates(keep='first', inplace= True)

In [29]:
df

                             Place Name  ...  Price Level
0         GOVINDA'S SWEETS & RESTAURANT  ...           NA
1                  Melting Pot (Mirpur)  ...           NA
2               Royal Bengal Restaurant  ...           NA
3                Sub Station Restaurant  ...           NA
4                            PERI PASTA  ...           **
..                                  ...  ...          ...
223        Vai Vai Hotel and Restaurant  ...           NA
225           Kabab Museum & Restaurant  ...           NA
227                Mayer Doa Restaurant  ...           NA
229  Juice World and Chinese Restaurant  ...           NA
230        Al-Baraka Hotel & Restaurant  ...           **

[214 rows x 6 columns]

Finally we will convert the dataframe df to csv file and save it

In [30]:
df.to_csv('restarants_mipur.csv')

# Notes:


1. Radius is very important. If we want to retrieve data from a populated place we should keep the radius very  small so that, we don't lose any restaurant. In case of not very popular place we cane provide radius of very big number, this way we can get the data with less number of get request
2. Sometimes restaurants are named as hotel in our country. We can include those by using a keyowrd named 'hotel' but it may confuse with the residential hotels. So I exclude that.